:root{
    --elte-gold: #ceaf87 ;
    --elte-blue: #012850 ;

    --elte-lblue: #009fa3;
    --elte-brown: #9a3324;
    --elte-green: #64a70b;
}

.elte-ik, .elte-btk, .elte-ppk{
    --_gridColor: var(--rgb-white);
    color: var(--white);
    button, [role=button]{ color: white; }
    a:not([role=button]):hover{ color: var(--black); }
}
.elte-ik{
    background: var(--elte-lblue);
}
.elte-btk{
    background: var(--elte-brown);
}
.elte-ppk{
    background: var(--elte-green);
}








/* INDEX */
#title{
    gap: 0;
}
#title ul{
    display: flex;
    gap: var(--space-s);
}
#title ul a{
    display: block;
}


.semester .box ul{
    flex-wrap: wrap;
}
.semester .box.elte-ik [role=button]{ background: var(--elte-lblue); }
.semester .box.elte-btk [role=button]{ background: var(--elte-brown); }
.semester .box.elte-ppk [role=button]{ background: var(--elte-green); }