<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>{{ page.title }} – Jávor Nikolett</title>
    <meta name="description" content="{{ page.desc }}">
    <meta name="author" content="Jávor Nikolett">


    <!-- favicon -->
    <link rel="shortcut icon" href="/img/fav.ico" type="image/x-icon" >


    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/--google-icons.css" >

    <link rel="stylesheet" type="text/css" href="/css/-variables.css" >
    <link rel="stylesheet" type="text/css" href="/css/-colors.css" >
    
    <link rel="stylesheet" type="text/css" href="/css/general.css" >
    <link rel="stylesheet" type="text/css" href="/css/header.css" >   
    <link rel="stylesheet" type="text/css" href="/css/footer.css" >
    <link rel="stylesheet" type="text/css" href="/css/section.css" >

    <link rel="stylesheet" type="text/css" href="/elte-otk-jegyzetek/css/ej--general.css" >

    {% if page.css %}
        {% for css_file in page.css %}
            <link rel="stylesheet" href="/elte-otk-jegyzetek/css/{{ css_file }}">
        {% endfor %}
    {% endif %}
    {% if page.css-extra %}
        {% for css_file in page.css-extra %}
            <link rel="stylesheet" href="/{{ css_file }}">
        {% endfor %}
    {% endif %}
    

    <!-- js -->
    <script src="/js/lightMode.js" defer></script>
    <script src="/js/toTopButton.js"></script>

    {% if page.js %}
        {% for js_file in page.js %}
            <script src="/elte-otk-jegyzetek/js/{{ js_file }}"></script>
        {% endfor %}
    {% endif %}
    {% if page.js-extra %}
        {% for js_file in page.js-extra %}
            <script src="/{{ js_file }}"></script>
        {% endfor %}
    {% endif %}
    

    <!-- fonts & icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;600;700;800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>