<!DOCTYPE html>
<html lang="hu">
{% include 0-head.html %}

<body>
    {% include 1-header.html %}

    <a href="#" id="to-top" role="button">keyboard_arrow_up</a>

    <main>
        <section id="title" class="grid"><div>
            <h1>{{page.title}}</h1>
            <div><a href="{{page.targyurl}}">{{page.hossztargy}}</a> <span>{{page.date}}</span></div>
        </div></section>
        
        <section id="content"><div>
            {{content}}
        </div></section>
    </main>

    {% include 2-footer.html %}
</body>
</html>